version: "3.8"

services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    image: vardhan26/backend:latest
    container_name: backend
    restart: always
    ports:
      - "8080:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongodb:27017/cruddb
    depends_on:
      mongodb:
        condition: service_healthy

  frontend:
    image: vardhan26/frontend:latest
    container_name: frontend
    restart: always
    depends_on:
      - backend

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend

volumes:
  mongo-data: